/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "films.scss";
 @import "bootstrap";
 html,
 body {
   background: #131418;
   height: 100%;
   width: 100%;
 }
 nav {
    padding-top: 15px;
}
nav ul li {
    color: #F5F5F5;
    text-decoration: none;
    list-style: none;
}
nav a {
    color: #F5F5F5;
    text-decoration: none;
    list-style: none;
}
nav a:hover {
    color: #F1C40F;
    text-decoration: none;
    list-style: none;
}
#sp {
    color: #F5F5F5;
}