<footer>
<p class="footer" > <b>BETA</b> FilmTalis, sajt je jos u izradi neke funkcije nece raditi takodje svi filmovi nisu dotati!Vidi pun Design od <a class="linkz" href="https://www.kubet.space">@kubet_</a></p>
</footer>