<nav class="nav nav-bar">
        <a class="pl-5 pr-1" href="/"><b>Filmovi</b></a>
        <a id="sp"> | </a>
        <a class="pl-1" href="/series">Serije</a>
        <ul class="ml-auto pr-5">
            <li class="signup">Prijava</li>
        </ul>
    </nav>